<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
    </head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>
    
      <div class="container mx-auto">
        <div class="hero py-12">
          <div class="hero-content text-center">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6 text-gray-700">My name is Jagbir Singh. I am an international student studying Computer Programming (CPP) in 
              Seneca Polytechnic at Newnham capmus. I am making this website as an assigment of Web Programming Tools and Frameworks.</p>
          </div>
        </div>
    
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 mt-8">
          <div>
            <img src="https://www.lego.com/cdn/cs/set/assets/bltc0eb1b9eb63ef221/75364-T1-202309-PS-Block-Standard.jpg?fit=crop&format=webply&quality=80&width=635&height=440&dpr=1.5" alt="Lego Image" class="w-full rounded-lg shadow-md"> 
          </div>
          <div class="p-6"> 
            <p class="text-gray-700">
              LEGO, those iconic interlocking plastic bricks, have captured the imaginations of children and adults alike for generations. With endless possibilities for construction, LEGO sparks creativity, problem-solving, and a sense of playful accomplishment. From simple towers to elaborate worlds, LEGO allows builders to bring their ideas to life, brick by brick. The timeless appeal of LEGO lies in its ability to ignite a passion for creation that transcends age and skill level.
            </p>
          </div>
        </div>
    </div>
</body>
</html>
